:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --wite-text-color: #ffffff;
  --blak-text-color: #000000;
  --address-text-color: rgba(255, 255, 255, 0, 6);
  --accent-color: #2196f3;
  --tem-button-bacground:#F5F4FA;
  --basement-color: #2F303A;

  --main-font:'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

/*global style*/
a{
  text-decoration: none;
}
.page {
  background-color var(--wite-text-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

/*logo style*/
.logo {
  color: var(--blak-text-color);
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.accent,
.logo:focus,
.logo:hover
 {
  color: var(--accent-color);
}
 
/*style nav*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}



/*main sections*/

.none{
  visibility: hidden;
}

.section-herro{
  background: var(--basement-color);
}

.secton-title-herro {
  color: var(--wite-text-color);
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

}
.button-herro {
  background-color: var(--accent-color);
  color: var(--wite-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
.section-title,
.section-title a {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title.secondary{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-title.names{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.section-title.cards{
  font-weight: bold;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-transform: none;
}
.team{
  background-color: var(--tem-button-bacground);
}

.buttons{
  color: var(--title-text-color);
  background-color: var(--tem-button-bacground);
  border-color: inherit;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border:0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

}

.buttons:hover,
.buttons:focus{
  color: var(--wite-text-color);
  background-color: var(--accent-color);
}

/*basement*/

.basement{
   
    background-color: var(--basement-color);

}

.logo-basement {
  color: var(--wite-text-color);
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.info{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.map-link{
  color:var(--wite-text-color)
}

.list-auth{
  color: var(--address-text-color);
}

.list .map-link:hover,
.list .map-link:focus,
.list .list-auth:focus,
.list .list-auth:hover{
  color: var(--accent-color);
}
